<div class="name">
    <div class="text-center text-white">
        <h1 class="position-absolute"> Valentin WALLAERT </h1>
        <h2 class="position-absolute"> Développeur junior </h2>
    </div>
    <div class="lien">
        <a href="#"><i class=""></i></a>
    </div>
</div>