{% extends 'baseAdmin.html.twig' %}

{% block title %} Accueil Administration {% endblock %}

{% block body %}
<div class="text-center">
    <h1> Bienvenue dans l'espace administrateur !</h1>
    <p> Pour l'instant il n'y a que le bouton "Ajout d'un projet" fonctionnel </p>
    <p> Et également le lien Accueil :-)</p>
</div>
{% endblock %}
